
@font-face {
    font-family: quicksand;
    src: url(../Fonts/Quicksand-SemiBold.ttf);
}


.button:hover { 
    cursor: grab;

}
.icon{
    
    background: none;
    border: none;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    

    
}