

@font-face {
    font-family: quicksand;
    src: url(../Fonts/Quicksand-SemiBold.ttf);
}
button {
    border: none;
    background-color: transparent;
    font-family: quicksand;
}

.button:hover {
    cursor: grab;

}

.app {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}




